<!DOCTYPE html>
<html>
    <head>
        <title>3rd Apies</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">

    <body class='container'
        <article>
            <h2><img src="pokemon.jpeg" width="50"/> Pokemon List</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">POKEMON</th>
                    <th scope="col">URL</th>
                    </tr>
                </thead>
                <tbody id="pokemon-data-container">
                   
                   
                </tbody>
                </table>
        </article>
        <article>
            
            <h2><img src="https://assets.chucknorris.host/img/avatar/chuck-norris.png" width="50"/>Some joke</h2>
            
            <div id="joke-data-container"></div>
            
            
        </article>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src='script.js'></script>
</html>